.namebar-grp {
  display: flex;
}
.namebar-logo {
  background-image: url(../images/logo1.jpg);
  background-size: cover;
  height: 18px;
  width: 18px;
}
.namebar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: #eb4c6b;
  justify-content: space-around;
  display: flex;
}
.heading {
  border-bottom: 1px solid #e5e5e5;
}
.t-line-1 {
  display: flex;
  margin: 25px 50px 50px 50px;
}
.t-logo {
  background-image: url(../images/logo.png);
  height: 36px;
  width: 36px;
  background-size: cover;
}
.t-name {
  font-family: Inter;
  font-size: 36px;
  font-weight: 800;
  line-height: 43.57px;
  letter-spacing: 1px;
  padding-left: 43%;
}

.container {
  padding-left: 29%;
  justify-content: flex-end;
}
.t-icons {
  display: flex;
  align-items: center;
}

.t-c {
  padding-left: 10px;
  padding-right: 10px;
}
.t-line-2 {
  width: 35%;
  padding-left: 32%;
}
.shortcuts {
  display: flex;
  justify-content: space-around;
}
.shortcuts p {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  padding-bottom: 20px;
}
